.standard-button {
  background-color: var(--light-button);
  color: var(--text-white);
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid var(--button-border-alt);
  width: 250px;
}

.standard-button:hover {
  background-color: var(--dark-button);
  cursor: pointer;
}