.game-board-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-board {
  padding: 15px;
  margin: 20px 15px;
  width: fit-content;
  height: fit-content;
  background: var(--board-bg);
  // background: rgb(109, 138, 190);
  border: 1px solid var(--board-border);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-square {
  // background: rgb(202, 213, 232);
}

.light-square:hover {
  // background: rgb(132, 156, 196);
  opacity: 50%;
  border: 2px solid var(--square-dark-border);
}

.dark-square {
  // background: #08234d;
}

.dark-square:hover {
  // background: #123a7a;
  opacity: 50%;
  border: 2px solid var(--square-light-border);
}