.home-game-image {
  margin: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 30px;
}

.home-description-main {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}