.divider-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.divider {
  height: 2px;
  background-color: white;
  width: 60%;
  min-width: 200px;
}

.divider-muted {
  background-color: rgba(255, 255, 255, 0.15);
}