.news {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  table {
    border-spacing: 0px 20px;
  }
  th {
    height: 40px;
    padding: 4px 12px;
    font-size: 18px;
  }
  td {
    padding: 20px;
    background-color: var(--content-bg);
  }

  .date-td {
    border-radius: 10px 0px 0px 10px;
  }

  .content-td {
    border-radius: 0px 10px 10px 0px;
  }
}

.news-table {
  width: -webkit-fill-available;
  width: -moz-available;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.news-page-title {
  font-size: 50px;
  font-weight: 800;
  color: var(--content-text);
}

.news-link {
  a {
    color: var(--text-dark);
    text-decoration: none !important;
    display: block;
  }
}

.news-link:hover {
  a {
    color: var(--content-accent);
    .news-title {
      color: var(--content-accent);
    }
  }
}

.news-content {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8; 
  -webkit-box-orient: vertical;
}

.news-title {
  font-size: 22px;
  font-weight: 600;
  min-width: 150px;
  color: var(--content-dark-text);
}

.news-username {
  font-size: 20px;
  font-weight: 600;
}

.news-row {
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid var(--content-border);
}

.image-button {
  cursor: pointer;
}